# Xevion identity override
# Use this for personal/open-source repositories
#
# To use in a repository, run:
#   git config --local include.path ~/.config/git/config-xevion

[user]
	name = Xevion
	email = xevion@xevion.dev
	# No GPG key available for this email - signing disabled
{{ if eq .chezmoi.os "windows" }}
{{ else }}
{{ end }}
