# https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md
[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
api_key = {{ (rbw "Wakatime API Key").data.password }}