{{- if false -}}
This is just a comments block, because apparently the templating langauge doesn't have a proper way to comment code as far as I can tell.
This file is just a template for loading keys from the .ignored_keys directory.
{{- else if eq . "privateDomain" -}}
***REMOVED***
{{- end -}}