# Git Configuration - Platform-aware
# Managed by chezmoi

{{ if eq .chezmoi.os "windows" }}
# Windows Configuration
[user]
	name = Ryan Walters
	email = ryan@walters.to
	signingkey = 39538EC79ACF2597

[commit]
	gpgsign = true

[gpg]
	program = C:\\Users\\Xevion\\scoop\\apps\\gpg4win\\current\\GnuPG\\bin\\gpg.exe

[credential "https://github.com"]
	helper =
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential

{{ else }}
# Linux/macOS Configuration
[user]
	name = Xevion
	email = xevion@xevion.dev
	signingkey = 301511AAD64FA365

[commit]
	gpgsign = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

{{ end }}

# Common configuration for all platforms
[core]
	editor = micro
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections

[merge]
	conflictStyle = zdiff3

[init]
	defaultBranch = master

[filter.lfs]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
